*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#container{
    background: linear-gradient(#a3bded, #6991c7);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

    button{
        cursor: pointer;
        padding: 5px;
        width: 100%;
        border-radius: 5px;
    }
    label{
        font-size: 1.1em;
    }

    #inputs{
        background: rgba(255, 255, 255, 0.425);
        padding: 10px;
        border: 6px groove rgba(226, 226, 9, 0.384);
        display: grid;
        justify-content: center;
        margin-bottom: 3%;
        align-items: center;
        input[type = radio]{
            cursor: pointer;
        }
        #cities-input{
            margin-left: 10%;
        }
        
        
    }
}

@media screen and (max-width: 700px){
    #container{
        width: 100%;
    #inputs{
        #countries-input{
            width: 100%;
        }
        #cities-input{
            margin-left: auto;
            width: 100%;
        }           
    }
}
}
